version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: UserDB
    ports:
      - "3306:3306"
    networks:
      - devops-net

  app:
    build: .
    container_name: java-login
    ports:
      - "8080:8080"
    depends_on:
      - mysql
    networks:
      - devops-net

networks:
  devops-net:
    driver: bridge

